
<amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App">
  <amplify-sign-out></amplify-sign-out>
  <div>Hello, {{user.username}}</div>
  <!-- This is where you application template code goes -->
  <br />

  <span>Tasks</span>
  <div *ngFor="let task of tasks">
    <span>{{ task.name }}</span>
    <button (click)="deleteTask(task.id)">delete</button>
    <br />
  </div>

  <br />
  <label>
    A new task
    <input #taskName type="text">
  </label>
  <button (click)="addTask(taskName)">Add task</button>

<!--  <button (click)="getCredentials()">Get credentials</button>-->
  <br />
  <button (click)="getTasks()">Get tasks</button>
</div>
